.carro {
    background-color: #359a2c;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.bubble {
    position: relative;
    left: 12px;
    top: 20px;
}
